<nav class="page-header" [ngClass]="{'fixed-scroll-header': fixedHeader}">
  <div></div>
  <div>
    <img class="deVote-icon" src="./assets/images/deVote_icon_blue.png" alt="deVote icon">
  </div>
  <div></div>
  <div>
    <img src="./assets/svgs/github.svg" alt="Github icon"
      (click)="openLink('https://github.com/c3ai-lab/Pull-Request-Extension-Voting')">
  </div>
</nav>

<div class="page-content">
  <div class="deVote-container">
    <div>
      <div class="deVote-text-holder">
        <span class="deVote-main-text">
          Decentralised software development on GitHub
        </span>
        <span class="deVote-description">
          An open source browser extension for the decentralized management of GitHub-Repositories on the ethereum
          blockchain.
        </span>
        <div class="deVote-documentation-button"
          (click)="openLink('https://github.com/c3ai-lab/Pull-Request-Extension-Voting/wiki')">
          <div>
            <span>
              Show documentation
            </span>
          </div>
        </div>
      </div>
    </div>
    <img class="deVote-screenshot" src="./assets/images/screenshot.png">
  </div>

  <div class="page-scroll-notifier">
    <img src="./assets/svgs/down.svg" alt="Github icon">
  </div>

  <div class="page-deVote-features">
    <div class="deVote-features-header">
      <span>
        deVote functionalities
      </span>
    </div>
    <div class="deVote-features-body">

      <div class="deVote-feature-element">
        <img src="./assets/svgs/workers.svg" alt="Crowdfund icon">

        <div class="devote-feature-element-header">
          <span>
            Crowdfund issue solutions
          </span>
        </div>

        <div class="devote-feature-element-body">
          <span>
            The community can crowdfund a bounty for the solving of an issue.
          </span>
        </div>
      </div>

      <div class="deVote-feature-element">
        <img src="./assets/svgs/solving.svg" alt="Solving icon">

        <div class="devote-feature-element-header">
          <span>
            Solve issues for a bounty
          </span>
        </div>

        <div class="devote-feature-element-body">
          <span>
            A developer can solve an issue for a bounty if his solution is accepted by the community.
          </span>
        </div>
      </div>

      <div class="deVote-feature-element">
        <img src="./assets/svgs/vote.svg" alt="Vote icon">

        <div class="devote-feature-element-header">
          <span>
            Vote on pull-requests
          </span>
        </div>

        <div class="devote-feature-element-body">
          <span>
            The can community votes whether a pull-request should be merged or not.
          </span>
        </div>
      </div>


    </div>
  </div>

  <div class="page-deVote-benefits">
    <div class="deVote-benefits-header">
      <span>
        Advantages of using deVote
      </span>
    </div>
    <div class="deVote-benefits-body">
      <div class="deVote-benefits-column">
        <div class="deVote-benefits-column-header">
          <span>deVote</span>
        </div>

        <div class="deVote-benefits-element">
          <div class="deVote-benefits-element-image">
            <img src="./assets/svgs/checkmark.svg" alt="Checkmark icon">
          </div>
          <div class="deVote-benefits-element-header">
            <span>Community driven</span>
          </div>
          <div class="deVote-benefits-element-body">
            <span>The community decides which issues are important and need to be addressed first.</span>
          </div>
        </div>

        <div class="deVote-benefits-element">
          <div class="deVote-benefits-element-image">
            <img src="./assets/svgs/checkmark.svg" alt="Checkmark icon">
          </div>
          <div class="deVote-benefits-element-header">
            <span>Financial initiative</span>
          </div>
          <div class="deVote-benefits-element-body">
            <span>Developers have a financial initiative to solve issues because of the Bounty.</span>
          </div>
        </div>

        <div class="deVote-benefits-element">
          <div class="deVote-benefits-element-image">
            <img src="./assets/svgs/checkmark.svg" alt="Checkmark icon">
          </div>
          <div class="deVote-benefits-element-header">
            <span>Qualitative merges</span>
          </div>
          <div class="deVote-benefits-element-body">
            <span>Many people can participate in the voting and thus better validate whether a pull request meets the
              quality standard.</span>
          </div>
        </div>

      </div>

      <div class="deVote-benefits-column">
        <div class="deVote-benefits-column">
          <div class="deVote-benefits-column-header">
            <span>Traditional</span>
          </div>

          <div class="deVote-benefits-element">
            <div class="deVote-benefits-element-image">
              <img src="./assets/svgs/cross.svg" alt="Checkmark icon">
            </div>
            <div class="deVote-benefits-element-header">
              <span>Admin dependent</span>
            </div>
            <div class="deVote-benefits-element-body">
              <span>The admin decides which issue comes first and can therefore hold back development.</span>
            </div>
          </div>

          <div class="deVote-benefits-element">
            <div class="deVote-benefits-element-image">
              <img src="./assets/svgs/cross.svg" alt="Checkmark icon">
            </div>
            <div class="deVote-benefits-element-header">
              <span>Free developer dependent</span>
            </div>
            <div class="deVote-benefits-element-body">
              <span>The repository must hope that developers will continue to develop the project in their spare time
                and for free.</span>
            </div>
          </div>

          <div class="deVote-benefits-element">
            <div class="deVote-benefits-element-image">
              <img src="./assets/svgs/cross.svg" alt="Checkmark icon">
            </div>
            <div class="deVote-benefits-element-header">
              <span>Pull-Requests bottleneck</span>
            </div>
            <div class="deVote-benefits-element-body">
              <span>It doesn't matter what the community thinks about a pull request, in the end it's the admin alone
                who decides whether to merge it or not.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="page-deVote-integrate">
    <div class="page-deVote-integrate-header">
      <span>
        Interested? Yes, you can use it for your projects!
      </span>
    </div>
    <div class="page-deVote-integrate-body">
      <span>
        This project is completely public and opensource. For the extension to work correctly, it must be set up
        correctly.
      </span>
    </div>
    <div class="page-deVote-integrate-button">
      <div class="deVote-documentation-button"
        (click)="openLink('https://github.com/c3ai-lab/Pull-Request-Extension-Voting')">
        <div>
          <span>
            Get the extension
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-deVote-footer">
    
    <div class="deVote-footer-logo">
      <img class="deVote-icon" src="./assets/images/deVote_icon_blue.png" alt="deVote icon">
    </div>
        
    <div></div>

    <div class="deVote-footer-info">
      <div class="deVote-footer-header">
        <span>Resources</span>
      </div>
      <div class="deVote-footer-body">
        <span (click)="openLink('https://github.com/c3ai-lab/Pull-Request-Extension-Voting')">
          GitHub
        </span>
        <span (click)="openLink('https://github.com/c3ai-lab/Pull-Request-Extension-Voting/wiki')">
          Documentation
        </span>
      </div>
    </div>

    <div class="deVote-footer-info">
      <div class="deVote-footer-header">
        <span>Contact</span>
      </div>
      <div class="deVote-footer-body">
        <span (click)="openLink('https://github.com/c3ai-lab')">
          C³AI Laboratories
        </span>
        <span (click)="openLink('https://github.com/SerQuicky')">
          SerQuicky (Developer)
        </span>
        <span (click)="openLink('https://github.com/LeviiOnGit')">
          LeviiOnGit (Developer)
        </span>
      </div>
    </div>

  </div>

</div>